@import url("mobile.css") screen and (max-width: 600px);
@import url("desktop.css") screen and (min-width: 601px);
h1 {
  color: red;
  background-color: yellow;
}
@media (min-width: 480px) {
  h1 {
    color: blue;
    background-color: yellow;
  }
}
@media (min-width: 6000px) {
  h1 {
    color: purple;
  }
}
@media (min-width: 960px) {
  h1 {
    color: green;
  }
}
@media (min-width: 1280px) {
  h1 {
    color: orange;
  }
}