$cWhite: white;

.swiper {
  width: 100%;
  height: 300px;
}

.hero {
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $cWhite;
    font-size: 25px;
  }

  &__footer {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 2;
  }


  &__downarrow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 6px;
  }

  &__scrolltext {
    position: absolute;
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.7);  //白の透明度0.7
    left: -8px;
    top: 11px;
    font-size: 1.2em; // 通常は1em
  }
}